/* CSS For Styling */

/* CSS For Box Model Styling */
.container {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 35px;
    margin-left: 200px;

}

/* CSS For Image Customizations */
img {
    width: 300px;
    height: 250px;
    display: inline-block;
}

/* CSS For Styling To Navigation */
.main-header {
   margin-left: 200px;
   padding-top: 10px;
}

/* CSS For Styling Text Inside Navigation */
.main-header a {
    text-decoration: none;
    color: grey;
    padding: 5px;
 
}

/* CSS For Styling Navigation Below Images */
.p-header {
    color:  #999999;
    border:#d0d3d8 1px solid;
    text-decoration: none;
    background-color: #d9d9d9;
    padding: 2px;
    margin: 2px;
}

/* CSS For Styling Navigation Below Images */
.p-nav {
    padding-top: 10px;
    padding-bottom: 25px;
}