.container {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 35px;
    margin-left: 200px;

}

img {
    width: 300px;
    height: 250px;
    display: inline-block;
}

.main-header {
   margin-left: 200px;
   padding-top: 10px;
}

.main-header a {
    text-decoration: none;
    color: grey;
    padding: 5px;
 
}

.current a{
    color: black;
}

.p-header {
    color:  #999999;
    border:#d0d3d8 1px solid;
    text-decoration: none;
    background-color: #d9d9d9;
    padding: 2px;
    margin: 2px;
}

.p-nav {
    padding-top: 10px;
    padding-bottom: 25px;
}